@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 16rem; /* 256px = 64*4 = 16rem */
  --navbar-height: 4rem; /* 64px = 16*4 = 4rem */
}

body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  position: fixed;
  left: 0;
  top: var(--navbar-height);
  z-index: 30;
}

/* Adicionar classe que será usada pelo layout quando o sidebar estiver aberto */
.ml-64 {
  margin-left: var(--sidebar-width);
}

@media (max-width: 1024px) {
  .sidebar {
    width: var(--sidebar-width);
  }
}
